
            table {
                border: 0;
                border-collapse: collapse;
                border-spacing: 0;
                margin-top:20px;
            }
            table td, table th {
                border: 1px solid;
                padding: 2px 5px 2px 5px;
            }
            .text-center { text-align: center; }
            .text-right { text-align: right; }
            .text-center .payNoTable {
                color:red;
            }
            .text-center .payOkTable {
                color:green;
            }
