@charset "utf-8";

html,body {width:100%;height: 100%}
	html{width:100%;height: 100%}
	body{width:100%;height:100%}

		#header {
			display:inline-block;
			width: 100%;
			height:15%;
			position: relative;
			z-index:20;
			overflow:hidden;
			background-color:#ffcc00;
		}

		#contents {
			margin-left:20%;
			margin-right:20%;
			width: 60%;
			min-height: 100%;
			position: relative;
			z-index: 10;
			background-color:#FAF4C0;
			height: 20%;
		}

		#miniHeader {
			display:inline-block;
			
			margin-bottom:-5px;
			width: 100%;
			height:30%;
			position: relative;
			overflow:hidden;
			background-color:#ffcc00;
		}

		#miniBody {
			width: 100%;
			height: 20%;
			min-height: 80%;
			position: relative;
		
			background-color:#CCFFCC;
		}
		#minifoot {
			width: 100%;
			height: 20%;
			background-color:#CCFFCC;
		}

		#footer {
			background-color:#CCFFCC;
			width: 100%;
			height: 20%;
		}

		table.ex2 {width:30%; margin:0 auto; text-align:right; border-collapse:collapse}
		.ex2 th, .ex2 td {padding:5px 5px}
		.ex2 caption {font-weight:700; font-size:20px; padding:5px; color:#1BA6B2; text-align:left; margin-bottom:5px}
		.ex2 thead th {background:#ABC668; color:#fff; text-align:center; border-right:1px solid #fff}
		.ex2 tbody th {text-align:left; width:12%}
		.ex2 tbody td.date1 {text-align:center; width:8%}
		.ex2 tbody td.desc {text-align:left; width:10%}
		.ex2 tbody tr.odd {background:#f9f9f9}
		.ex2 tbody tr.odd th {background:#f2f2f2}
		.ex2 tbody tr:hover {background:#F3F5BB}
		.ex2 tbody tr:hover th {background:#F2F684; color:#1BA6B2}
		.ex2 tfoot tr {border-top:6px solid #E9F7F6; color:#1BA6B2}
		.ex2 tfoot th {text-align:left; padding-left:10px}
	

		table.ex1 {width:80%; margin:0 auto; text-align:right; border-collapse:collapse}
		.ex1 th, .ex1 td {padding:5px 5px}
		.ex1 caption {font-weight:700; font-size:20px; padding:5px; color:#1BA6B2; text-align:left; margin-bottom:5px}
		.ex1 thead th {background:#ABC668; color:#fff; text-align:center; border-right:1px solid #fff}
		.ex1 tbody th {text-align:left; width:12%}
		.ex1 tbody td.date1 {text-align:center; width:8%}
		.ex1 tbody td.desc {text-align:left; width:10%}
		.ex1 tbody tr.odd {background:#f9f9f9}
		.ex1 tbody tr.odd th {background:#f2f2f2}
		.ex1 tbody tr:hover {background:#F3F5BB}
		.ex1 tbody tr:hover th {background:#F2F684; color:#1BA6B2}
		.ex1 tfoot tr {border-top:6px solid #E9F7F6; color:#1BA6B2}
		.ex1 tfoot th {text-align:left; padding-left:10px}
